.slider-wrapper{
  position: relative;
  overflow: hidden;

  .slick-track{
    display: flex;
  }
}

.buttons{
  button{
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: #01be96;
    border: none;
    position: absolute;
    top: 45%;
    right: 1rem;
  }

  .back{
    left: 1rem;
  }
}